<persistence xmlns="https://jakarta.ee/xml/ns/persistence" version="3.0">
    <persistence-unit name="demoPU" transaction-type="JTA">
        <jta-data-source>jdbc/demoDS</jta-data-source>
        <properties>
            <!-- ДЛЯ РОЗРОБКИ: автогенерація схем (обережно на проді) -->
            <property name="jakarta.persistence.schema-generation.database.action" value="create"/>
            <!-- Показ SQL, якщо треба -->
            <property name="eclipselink.logging.level.sql" value="FINE"/>
        </properties>

    </persistence-unit>
</persistence>
